.bienvenida {
    min-height: 100vh;
    align-content: center;
}

.bienvenida .logo {
    padding: 0px 0px 30px 0px;
}

.bienvenida .logo {
    width: 60%;
}

.bienvenida .con {
    width: 300px;
}

.bienvenida .con a {
    padding: 50px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.bienvenida .con a:hover h5,
.bienvenida .con a:hover .icono i {
    color: white;
}

.bienvenida .con a .icono,
.bienvenida .con a .texto {
    width: 100%;
    display: flex;
    justify-content: center;
}

.bienvenida .con a .icono {
    width: 50%;
}

.bienvenida .con a .icono i {
    font-size: 100px;
    color: var(--color-texto);
}

.bienvenida .con a .texto p {
    width: 100%;
    text-align: center;
}

.bienvenida .con a .texto {
    padding: 20px 0px 0px 0px;
}

.bienvenida .con a .texto h5 {
    padding: 0px;
}

@media screen and (max-width: 768px) {
    .bienvenida .logo {
        padding: 30px 0px;
    }

    .bienvenida .logo svg {
        width: 85%;
        margin: auto;
        display: flex;
    }

    .bienvenida .con {
        min-width: 80%;
        margin: 0;
        padding: 0;
    }

    .bienvenida .con a {
        padding: 30px;
    }

    .bienvenida .con a .icono i {
        font-size: 70px;
    }
}