body .informacion {
    width: 70%;
    margin: auto;
}

body .informacion .opciones {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

body .informacion .opciones .servicio {
    display: flex;
    align-items: center;
    color: var(--color-texto);
}

.contenedor .informacion .opciones .servicio i {
    padding: 0px 15px 0px 0px;
}

.contenedor .informacion .negocio {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.contenedor .negocio .titulo {
    display: flex;
    width: 100%;
}

.contenedor .negocio .titulo i {
    padding: 0px 20px 0px 0px;
    color: var(--texto);
}

.contenedor .negocio .descripcion,
.contenedor .negocio .ubicacion {
    width: 100%;
    display: flex;
}

.contenedor .negocio .descripcion .info,
.contenedor .negocio .ubicacion .direccion {
    width: 60%;
    line-height: 1.6em;
    padding: 0px 30px 0px 0px;
}

.contenedor .negocio .descripcion .foto,
.contenedor .negocio .ubicacion .mapa {
    width: 40%;
    background-color: var(--fondo-principal);
    border-radius: var(--radius);
}

@media screen and (max-width: 768px) {
    body .informacion {
        width: 90%;
    }

    body .negocio .descripcion .info,
    body .negocio .ubicacion .direccion {
        width: 100%;
    }

    body .negocio .descripcion,
    body .negocio .ubicacion {
        flex-wrap: wrap;
    }

    body .negocio .descripcion .foto,
    body .negocio .ubicacion .mapa {
        width: 100%;
        margin: 20px 0px;
    }

    body .contenedor .row-con .titulo .con-w5 {
        min-width: 100%;
        justify-content: center;
    }
}