.titulo {
    padding: 30px 0px;
}

.agendar .titulo {
    text-align: center;
    padding: 0px;
}

.agendar, .busqueda, .servicios{
    width: 70%;
    margin: auto;
}

.agendar .titulo, .busqueda .titulo, .servicios .titulo{
    text-align: left;
}

.agendar .negocios{
    display: flex;
    justify-content: flex-start;
    overflow-y: hidden;
    overflow-x: auto;
    width: 100%;
}

.agendar .negocios .negocio {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    border-radius: var(--radius);
    width: 150px;
    height: 150px;
    min-width: 150px;
    max-width: 150px;
    cursor: pointer;
}

.agendar .negocios .negocio:hover .icono i,
.agendar .negocios .negocio:hover .texto {
    color: white;
}

.agendar .negocios .negocio:not(:last-child){
    margin-right: 15px;
}

.agendar .negocios .negocio .icono i {
    color: var(--color-texto);
    font-size: 3em;
}

.agendar .negocios .negocio .texto {
    width: 100%;
    color: var(--color-texto);
    text-align: center;
    padding: 10px 0px;
}

.busqueda{
   display: flex;
   align-items: center;
   justify-content: flex-end;
   width: 70%;
}

.busqueda input[type="search"]{
    padding: 10px 35px 10px 10px;
    border: 2px solid transparent;
    border-radius: var(--radius);
    background-color: var(--fondo-principal);
    color: var(--color-texto);
    outline: none;
    font-size: 1em;
}

.servicios {
    width: 70%;
    margin: auto;
    padding: 0px 0px 30px 0px
}

.servicios .servicio {
    padding: 15px;
    border-radius: var(--radius);
    background-color: var(--fondo-principal);
    display: flex;
    justify-content: space-between;
}

.servicios .servicio h5 {
    padding: 0;
    color: var(--color-texto);
}

.servicios .servicio .opciones {
    display: flex;
    align-content: center;
    align-items: center;
}

.servicios .servicio .opciones a {
    text-decoration: none;
    padding: 0px 10px;
    cursor: pointer;
}

.servicios .servicio .opciones a:hover {
    color: var(--color-azul);
}

.servicios .servicio:not(:last-child) {
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .agendar, .busqueda, .servicios {
        width: 90%;
    }
}