body {
    width: 100%;
    min-height: 100%;
    background-color: var(--fondo-auxiliar);
}

/* 
    Declaración de variables.
*/
:root {
    --sombra: ;
    --radius: 5px;
    --color-rojo: #DE4132;
    --color-amarillo: #EDB303;
    --color-verde: #319E4F;
    --color-azul: #2D9FFC;
    
    --color-rojo-hover: #a03026;
    --color-amarillo-hover: #b38703;
    --color-verde-hover: #24723a;
    --color-azul-hover: #2178be;

    --color-rojo-03: rgba(222, 65, 50,0.3);
    --color-amarillo-03: rgba(237, 179, 3,0.3);
    --color-verde-03: rgba(49, 158, 79,0.3);
    --color-azul-03: rgba(45, 159, 252,0.3);
    --focus: rgba(45, 159, 252,0.3);
}

/* 
    Asignación de variables en el tema oscuro.
*/

@media (prefers-color-scheme: dark) {
    :root {
        --fondo-principal: #26272E;
        --fondo-auxiliar: #323640;
        --fondo-auxiliar-03: rgba(32, 32, 32, 0.3);

        --color-texto: rgb(242, 242, 242);

        --border: 1px solid rgba(242, 242, 242, 0.3);
    }
}

/* 
    Asignación de variables en el tema claro.
*/

@media (prefers-color-scheme: light) {
    :root {
        --fondo-principal: #EDEDED;
        --fondo-auxiliar: #FAFAFA;
        --fondo-auxiliar-03: rgba(0, 0, 0, 0.137);
        --color-texto: #1D1D1D;
        
        --border: 1px solid rgba(0,0,0,0.3);
    }
}

/* 
    Contenedores (layouts).
*/

.contenedor {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.row-con {
    margin: auto;
    width: 70%;
    max-width: 70%;
    display: flex;
    flex-wrap: wrap;
}

.row-scroll {
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: auto;
}

.row-scroll .con:not(:last-child) {
    margin: 0px 15px 15px 0px;
}

.justify-center {
    justify-content: center;
}

.justify-right {
    justify-content: flex-end;
}

.justify-beetween {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.align-top {
    align-content: flex-start;
    align-items: flex-start;
}

.align-center {
    align-content: center;
    align-items: center;
}

.align-right {
    align-content: flex-end;
    align-items: center;
}

.align-beetween {
    align-content: space-between;
    align-items: center;
}

.con {
    margin: 0px 0px 15px 0px;
    padding: 15px;
}

.con-outline {
    border: var(--border);
}

.con-round {
    border-radius: var(--radius);
}

.con-w12 {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}

.con-w11 {
    width: 91.6%;
    min-width: 91.6%;
    max-width: 91.6%;
}

.con-w10 {
    width: 83.3%;
    min-width: 83.3%;
    max-width: 83.3%;
}

.con-w9 {
    width: 75%;
    min-width: 75%;
    max-width: 75%;
}

.con-w8 {
    width: 66.6%;
    min-width: 66.6%;
    max-width: 66.6%;
}

.con-w7 {
    width: 58.3%;
    min-width: 58.3%;
    max-width: 58.3%;
}

.con-w6 {
    width: 50%;
    min-width: 50%;
    max-width: 50%;
}

.con-w5 {
    width: 41.6%;
    min-width: 41.6%;
    max-width: 41.6%;
}

.con-w4 {
    width: 25%;
    min-width: 25%;
    max-width: 25%;
}

.con-w3 {
    width: 16.6%;
    min-width: 16.6%;
    max-width: 16.6%;
}

.con-w2 {
    width: 8.3%;
    min-width: 8.3%;
    max-width: 8.3%;
}

.con-w1 {
    width: 0%;
    max-width: 0%;
    min-width: 0%;
}

/* 
    Estilos del texto.
*/

* {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    color: var(--color-texto);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    width: 100%;
    font-weight: 500;
    padding: 15px 0px;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2.5em;
}

h4 {
    font-size: 2em;
}

h5 {
    font-size: 1.5em;
}

h6 {
    font-size: 1em;
}

.txt-left {
    text-align: left;
}

.txt-right {
    text-align: right;
}

.txt-center {
    text-align: center;
}

.txt-justify {
    text-align: justify;
}

/* 
    Estilos de botones
*/

.btn {
    padding: 10px 20px;
    transition: all .3s;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin: 15px 15px 15px 0px;
}

.btn-icon {
    padding: 10px 15px 10px 10px;
}

.btn-icon i {
    padding: 0px 10px 0px 0px;
}

.btn-icon-self {
    padding: 10px;
}

.bg-aux {
    background-color: var(--fondo-principal);
}

.btn-azul,
.bg-azul,
.btn-azul i {
    color: white;
    background-color: var(--color-azul);    
}

.btn-azul-hover:hover {
    color: white;
    background-color: var(--color-azul);
}

.btn-azul:focus {
    outline: none;
    box-shadow: 0px 0px 0px 5px var(--color-azul-03);
}

.btn-rojo,
.bg-rojo {
    color: white;
    background-color: var(--color-rojo);    
}

.btn-rojo-hover:hover {
    color: white;
    background-color: var(--color-rojo);
}

.btn-rojo:focus {
    outline: none;
    box-shadow: 0px 0px 0px 5px var(--color-rojo-03);
}

.btn-amarillo,
.bg-amarillo {
    color: white;
    background-color: var(--color-amarillo);    
}

.btn-amarillo-hover:hover {
    color: white;
    background-color: var(--color-amarillo);
}

.btn-amarillo:focus {
    outline: none;
    box-shadow: 0px 0px 0px 5px var(--color-amarillo-03);
}

.btn-verde,
.bg-verde {
    color: white;
    background-color: var(--color-verde);    
}

.btn-verde-hover:hover {
    color: white;
    background-color: var(--color-verde);
}

.btn-verde:focus {
    outline: none;
    box-shadow: 0px 0px 0px 5px var(--color-verde-03);
}

/* 
    Estilos de formularios
*/

form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

label {
    font-size: 1em;
}

.form-control {
    width: 100%;
    margin: 15px 0px;
    padding: 10px;
    font-size: 1em;
    background-color: transparent;
    border: var(--border);
    border-radius: var(--radius);
    box-shadow: 0px 0px 0px 0px var(--focus);
    transition: all .2s;
}

.form-control:focus {
    border: 1px solid var(--color-azul);
    outline: none;
    background-color: var(--fondo-auxiliar);
    box-shadow: 0px 0px 0px 3px var(--focus);
}

/* 
    Estilos de imagenes
*/

/* img, svg {
    width: 100%;
} */

/* 
    Estilos de notificaciones
*/

.notification {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: var(--fondo-auxiliar-03);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
}

.not-top-center {
    align-content: flex-start;
    align-items: flex-start;
}

.not-top-left {
    justify-content: flex-start;
}

.not-top-right {
    justify-content: flex-end;
}

.not-bottom-center {
    align-content: flex-end;
    align-items: flex-end;
}

.not-bottom-left {
    align-content: flex-end;
    align-items: flex-end;
    justify-content: flex-start;
}

.not-bottom-right {
    align-content: flex-end;
    align-items: flex-end;
    justify-content: flex-end;
}

.not .con {
    margin: 20px 20px;
}

.not-open {
    visibility: visible;
    opacity: 1;
}

/* 
    Responsive design 768px
*/

@media screen and (max-width: 768px) {
    .row-con {
        width: 90%;
        max-width: 90%;
    }

    .con-w12, .con-w11, .con-w10, .con-w9, .con-w8, .con-w7 {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }
    
    .con-w6, .con-w5, .con-w4, .con-w3, .con-w2 {
        width: 45%;
        max-width: 45%;
        min-width: 45%;
    }

    .notification .con-w4 {
        width: 90%;
        max-width: 90%;
        min-width: 90%;
    }
}