*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root{
    --border-radius:5px;
    --rojo: #DE4132;
    --amarillo: #EDB303;
    --verde: #319F4D;

    --fondo-principal:#26272D;
    --fondo-principal-transparente:rgba(38, 39, 45, 0.9);
    --fondo-tarjeta:#323640;
    --azul:#2D9FFC;
    --texto:#F2F2F2;
}

/* @media(prefers-color-scheme: light){
    :root{
        --fondo-principal:#F1F8FF;
        --fondo-tarjeta:#FEFEFE;
        --azul:#147DD9;
        --texto:#26272E;
    }    
}

@media(prefers-color-scheme: dark){
    :root{
        --fondo-principal:#26272D;
        --fondo-principal-transparente:rgba(38, 39, 45, 0.9);
        --fondo-tarjeta:#323640;
        --azul:#2D9FFC;
        --texto:#F2F2F2;
    }
} */

h1,h2,h3,h4{
    font-weight: 500;
}

h1,h2,h3,h4,p,a,label,option{
    color: var(--texto);
}

body{
    background-color: var(--fondo-principal);
}
button{
    border-radius: var(--border-radius);
    border: 2px solid transparent;
    background-color: var(--fondo-tarjeta);
    color:  var(--texto);
}

button:hover,
.btn:hover {
    background-color: var(--azul);
}

button:focus,
.btn:focus {
    outline: none;
    border: 2px solid var(--texto);
}