header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

header .logo {
    padding: 15px 0px 0px 0px;
    width: 200px;
}

header .logo svg {
    width: 100%;
}

@media screen and (max-width: 768px) {
    header .logo {
        padding: 15px 0px 0px 0px;
        width: 150px;
    }
}