.contenedor .dia_hora .dia,
.contenedor .dia_hora .hora,
.contenedor .dia_hora .opciones {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.modal form .dias_atencion {
    line-height: 3em;
}

.modal form .dias_atencion label {
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 50px;
    color: var(--color-texto);
}

.modal form .dias_atencion label:hover {
    background-color: var(--fondo-principal);
}

.modal form .dias_atencion label:not(:last-child) {
    margin: 0px 10px 0px 0px;
}

.modal form .dias_atencion input[type="checkbox"] {
    display: none;
}

.modal form .dias_atencion input[type="checkbox"]:checked + label {
    color: white;
    background-color: var(--color-azul);
}

.contenedor .dia_hora .opciones {
    justify-content: flex-end;
}

@media screen and (max-width: 768px) {
    .modal form {
        width: 95%;
    }

    .modal form .opciones {
        flex-wrap: wrap;
    }

    .modal form .opciones input {
        width: 100%;
    }

    .contenedor .dia_hora .opciones {
        min-width: 100%;
        justify-content: flex-end;
    }
}